.image {
  max-width: 600px;
  max-height: auto;
}
.message {
  color: #facc15;
  text-align: center;
}
.unothorized{
  padding-top: 40px;
  background: linear-gradient(90deg, #000427 10%, #00095e 30%, #ffff  60%, #ffff 100%, #ffff 100%);
}
