.change-password-card{
  width: 800px;
  margin: 0 auto;
}
mat-card-title {
  color: #facc15;
  text-align: center;
  padding-top: 20px; /* Ajuster la marge supérieure du titre */
  padding-bottom: 0px; /* Ajuster la marge inférieure du titre */
}
mat-label{
  color: #00095E;

}
.check-icon {
  color: green; /* Couleur verte pour indiquer que les mots de passe correspondent */
}
.button-update-profile{
  text-align: center;
}
