.update-team-title {
  text-align: center;
  color: #00095E;
  padding-top: 20px;
}
.centered-buttons {
  display: flex;
  justify-content: center;
}

.centered-buttons button.mat-button {
  margin: 0 8px;
}
mat-label{
  color:#00095E ;
}
.annuler{
  color:#00095E ;

}
