<div class="flex-layout">
  <app-branding></app-branding>
  <hr class="w-100">

  <img [src]="profileImageUrl" class="rounded-circle object-cover" style="display: block; margin-left: auto; margin-right: auto; margin-top: 10px ;border: 3px solid #FACC15;" height="110" width="120" /><br>
  <div *ngIf="showUsername && (username || companyName)" class="text-white text-center" style="font-weight: bold; margin-bottom: 10px">
    {{ (userRole === 'COMPANY' ? companyName : username) | uppercase }}
  </div>

  <div *ngIf="userRole === 'ADMIN'"  class="text-white text-center" style="font-weight: bold; margin-bottom: 10px">
   ADMIN1
  </div>

  <hr class="w-100">

  <mat-nav-list class="sidebar-list">
    <app-nav-item *ngFor="let item of filteredNavItems" [item]="item"></app-nav-item>
  </mat-nav-list>
</div>
