
body {

  background: linear-gradient(90deg, #000427 10%, #00095e 30%, #ffff 60%, #ffff 100%, #ffff 100%);

}

mat-card-title {
  color: #00095E;
  margin-bottom: 16px;
  text-align: center;
}
mat-label{
  color: #00095E;

}

/**
.reset-password-card{
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
*/

/**
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hauteur de la fenêtre */
//}

.reset-password-card {
  width: 700px;
}
.reset-password-image {
  width: 48.5%;
  display: block;
  margin: 0 auto;
  height: 20vh;

}
.both-image-form {
padding-top: 100px;

}
