<body>
<div class="both-image-form">
  <img src="../../../../assets//images/logos/password.jpeg" alt="Image" class="reset-password-image">
  <div class="reset-password-container">

    <mat-card class="reset-password-card" style="width: 700px; margin: 0 auto;">
    <mat-card-title class="add-user-title">Réinitialisation de votre mot de passe</mat-card-title>
    <mat-card-content>
      <p>Un lien de réinitialisation de mot de passe sera envoyé à votre adresse e-mail. Si vous ne recevez pas d'e-mail dans les quelques minutes suivantes, veuillez réessayer.</p>
      <form class="m-t-30" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
        <div class="form-column">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Adresse e-mail</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-icon matPrefix>email</mat-icon>
            <input matInput name="email" [(ngModel)]="email" placeholder="Adresse e-mail" required />
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" class="w-100">
          <span style="display: flex; justify-content: space-between; align-items: center;">
            <span>Réinitialiser le mot de passe</span>
            &nbsp;&nbsp; <mat-icon style="font-size: 20px;">lock</mat-icon>
          </span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>
</body>
