

.mat-vertical-stepper-header {
  width: 100%;
  display: flex;

}
.sprint-header {
  color: #00095E;
  margin-bottom: 16px;
  text-align: center;

}
.mat-step.reverse .mat-step-label {
  text-align: right;
}
.timeline-container {
 // display: flex;
 // align-items: flex-start;
  justify-content: center;
  margin-top: 50px;

}


.sprint-container{
  max-width: 800px;
  margin-left: 180px;
}
.tasks-container {
  display: flex;
  flex-direction: column;

  .mat-card {
    overflow: auto;

  }
}
mat-card {
  margin-bottom: 8px;
}
.title-sprint{
  color:#facc15;
  margin-left: 60px;
}
.sprint-elements{
  color: #001f3f;
}
.sprint-card {
  width: 100%;
}
.left-card {
  width: 100%;
//  margin-right: 1px;
}


.tasks-container {
  width: 100%;
}

.mat-step-label {
  margin-left: auto;
}

.reverse .mat-step-label {
  margin-right: auto;
}
.step-label{
  color: #001f3f;
}
