mat-card-title {
  color: #00095E;
  margin-bottom: 16px;
  text-align: center;
  width: 1200px;
}
.f-w-600{  color: #00095E;}

/**
.custom-form-field {
  width: 38%;
}

.custom-input {
  height: 28px !important;
  font-size: 2px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
}
*/

.custom-form-field {
  width: 48%;
  position: relative;
  margin-left: auto;
}


.custom-form-field .input-group-text {
  color: #facc15;
  background-color: transparent;
  border: none;
}

.custom-form-field .input-group-prepend {
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}



.custom-form-field input.form-control {
  padding-left: 2.5rem;
  height: 32px;
  font-size: 14px;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-form-field input.form-control:focus {
  border-color: #facc15;
  outline: 0;
  box-shadow: #facc15;
}
.custom-icon {
  position: absolute;
  left: 10px;
  top: 93%;
  transform: translateY(-50%);
}
