






<body class="main-layout">
  <!--
  <div class="loader_bg">
     <div class="loader"><img src="assets/images/images/loading.gif" alt="#" /></div>
  </div>
-->
  <header>
    <div class="header">
      <div class="container">
          <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                      <div class="center-desk">
                          <div class="logo">
                              <a href="#home"><img src="assets/images/images/windlite.png" alt="#" /></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active ">
                              <a class="nav-link" (click)="goToLogin()">Accueil</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" (click)="goToLogin()">À propos</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" (click)="goToLogin()">Services</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" (click)="goToLogin()">Contact</a>
                          </li>
                          <li class="nav-item ">
                            <a class="nav-link" (click)="goToLogin()">Connexion</a>
                        </li>


                      </ul>

                      </div>
                  </nav>
              </div>
          </div>
      </div>
  </div>

</header>


  <section id="home" class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="text-bg">
                    <h1 >Agilité Réactive et Évolutive </h1>
                    <span class="slogan"> La Voie de l'Agilité vers le Succès </span>
                    <p>Windagile offre une gestion complète de vos projets agiles avec des fonctionnalités telles que la gestion des utilisateurs, des projets, des backlogs, des sprints, des tâches et des commentaires. Maximisez l'efficacité de vos équipes avec notre solution tout-en-un.</p>
                    <a  (click)="goToRegister()">Découvrir</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="text-img">
                    <figure><img src="assets/images/images/scrum.png" alt="Scrum Image" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Nouvelles Fonctionnalités de Windagile</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="web_hosting">
                    <div class="scrum-image">
                        <img src="assets/images/images/scrum5.png" alt="Scrum Image"/>
                    </div>
                    <p>Découvrez comment Windagile transforme la gestion de vos projets avec ses outils puissants pour gérer les utilisateurs, les projets, les backlogs, les sprints, les tâches et les commentaires. Notre plateforme est conçue pour améliorer la collaboration et l'efficacité de vos équipes.</p>
                    <a href="#">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="service" class="Services">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="titlepage">
                  <h2>Nos Services</h2>
                  <p>Découvrez nos solutions pour une gestion agile et efficace de vos projets.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="Services-box">
                  <i><img src="assets/images/images/users.png" alt="#" /></i>
                  <h3>Gestion des Employés</h3>
                  <p>Gérez les détails et les activités de vos employés de manière efficace et centralisée.</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="Services-box">
                  <i><img src="assets/images/images/team1.png" alt="#" /></i>
                  <h3>Gestion des Équipes</h3>
                  <p>Organisez vos équipes, attribuez des rôles et encouragez la collaboration.</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="Services-box">
                  <i><img src="assets/images/images/team14.png" alt="#" /></i>
                  <h3>Gestion de Projet</h3>
                  <p>Planifiez, suivez et gérez tous les aspects de vos projets de manière transparente.</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="Services-box">
                  <i><img src="assets/images/images/team3.png" alt="#" /></i>
                  <h3>Gestion de Backlog</h3>
                  <p>Organisez vos exigences, priorisez les tâches et suivez le progrès de manière agile.</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="Services-box">
                  <i><img src="assets/images/images/team4.png" alt="#" /></i>
                  <h3>Gestion des Sprints</h3>
                  <p>Planifiez et exécutez les itérations de développement pour une livraison incrémentielle.</p>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="Services-box">
                  <i><img src="assets/images/images/task1.png" alt="#" /></i>
                  <h3>Gestion des Tâches</h3>
                  <p>Attribuez, suivez et achevez les tâches avec une visibilité totale sur leur progression.</p>
              </div>
          </div>
      </div>
      <div class="read_more" href="#">En savoir plus</div>
  </div>
</div>

<div id="why" class="why">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="titlepage">
                  <h2>Pourquoi choisir Wind Agile ?</h2>
                  <p>Découvrez ce qui fait de Wind Agile la solution idéale pour la gestion agile de vos projets.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div id="box_ho" class="why-box">
                  <i><img src="assets/images/images/task3.png" alt="#" /></i>
                  <h3>Fonctionnalités Puissantes</h3>
                  <p>Explorez nos fonctionnalités avancées conçues pour simplifier la gestion de vos projets agiles.</p>
              </div>
              <div class="read_more2" href="#">En savoir plus</div>
            </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="why-box">
                <i><img src="assets/images/images/team8.png" alt="#" /></i>
                <h3>Solution Flexible</h3>
                <p>Découvrez une solution agile adaptable à divers besoins et environnements de projet.</p>
            </div>
            <div  class="read_more2"href="#">En savoir plus</div>
          </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="why-box">
                <i><img src="assets/images/images/team2.png" alt="#" /></i>
                <h3>Collaboration Transparente</h3>
                <p>Facilitez la collaboration entre les membres de votre équipe pour une meilleure productivité.</p>
            </div>
            <div class="read_more2" href="#">En savoir plus</div>
          </div>

      </div>
  </div>
</div>


  <div id="contact" class="contact">
     <div class="container">
        <div class="row">
           <div class="col-md-6 offset-md-3 ">
              <form class="main_form">
                 <div class="row">
                    <div class="col-sm-12">
                       <input class="contactus" placeholder="Name" type="text" name="Name">
                    </div>
                    <div class="col-sm-12">
                       <input class="contactus" placeholder="Email" type="text" name=" Email">
                    </div>
                    <div class="col-sm-12">
                       <input class="contactus" placeholder="Phone" type="text" name="Phone">
                    </div>
                    <div class="col-sm-12">
                       <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                    </div>
                    <div class="col-sm-12">
                       <button class="send">Send</button>
                    </div>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>


  <footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="cont">
                        <h3>Contactez-nous</h3>
                        <span>Wind Agile - Votre Partenaire Agile</span>
                        <p>Pour toute question ou demande d'information, n'hésitez pas à nous contacter. Notre équipe est là pour vous aider dans l'utilisation de Wind Agile.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© 2024 Tous droits réservés. <a class="winderp" href="https://www.wind-erp.com/#/home">WindERP</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



</body>



