<h2 mat-dialog-title class="update-project-title">Mettre à jour le projet</h2>
<button mat-icon-button class="close-button" aria-label="Fermer" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>
<div mat-dialog-content>
  <form [formGroup]="projectForm" (ngSubmit)="onUpdateClick()">
    <div class="form-row">
      <div class="form-column">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nom du projet</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput formControlName="nom" placeholder="Nom du projet" required />
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Description</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <textarea matInput formControlName="description" placeholder="Description" required></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-column">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">État du Projet</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-select formControlName="state" placeholder="Sélectionner l'état de projet">
            <mat-option *ngFor="let state of projectStates" [value]="state.value" (click)="selectState(state.value)">
              {{ state.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Date de début</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Date de début" required />
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="form-column">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Date de fin</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="Date de fin" required />
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Équipe</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <mat-select formControlName="team" placeholder="Sélectionner une équipe">
            <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions class="centered-buttons">
  <button mat-button color="primary" type="submit" [disabled]="!projectForm.valid" (click)="onUpdateClick()">Mettre à jour</button>

  <button mat-button class="annuler" (click)="onNoClick()">Annuler</button>
</div>
