.upload-page{
  border: 3px dashed #facc15;
  border-radius: 10px;
}
.file-upload {
  text-align: center;
  padding: 1.5rem;
  position: relative;
  cursor: pointer;
}

.file-upload p {
  font-size: 0.87rem;
  margin-top: 10px;
  color: #facc15;;
}

.file-upload input {
  display: none;
  opacity: 0;
  cursor: pointer;

  width: 100px;
  height: 100px;
  margin: auto;

}

.upload-icon {
  font-size: 3.0rem;
  color: #facc15;
}

.selected-image img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.selected-images {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.selected-image {
  flex: 0 0 auto;
  margin-right: 10px;
}
.selected-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.selected-image {
  position: relative;
}

.cancel-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
