
.title {
  text-align: center;
  color:#facc15 ;
  font-weight: bold;
  margin-top: 10px;
}
.cardWithShadow{
  margin-top: -10px;

}
.card-for-total{
  height: 310px;
  margin-top: -10px;
}

.users-count {
  font-size: 36px;
  text-decoration: underline #facc15 ;
  color: #00095E;
  padding: 5px; /* Ajouter un peu d'espace intérieur pour le texte */
}
