.team-details {
  text-align: center;
}

.rounded-circle {
  border-radius: 50%;
}
.member-row {
  margin-bottom: 30px;
}
mat-card-title {
  color: #00095E;
  margin-bottom: 16px;
  text-align: center;
}
.f-w-600{  color: #00095E;}
