.task-card, .team-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center;

}

.task-card:hover, .team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #00095E;

}


.card-description {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #666;
}

.card-number {
  font-size: 2.5rem;
  color: #facc15;
}


.home-page-icon{
  font-size: 50px;
  color: #00095E;
}

.tasks-state{
  color: #00095E;
  font-weight: bold;
  margin-bottom: 10px;
}

.completion{
  color:#00095E;
}

.custom-chart {
  height: 100px;
}
.in-progress {
  background-color: #86B6F6;
}

.completed {
  background-color: #A1EEBD;
}

.on-hold {
  background-color: #facc15;
}

.canceled {
  background-color: #FA7070;
}
